.hab-layout {
    width: 100%;
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.hab-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hab-1, .hab-2, .hab-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hab-1 {
    gap: 200px;
}

.hab-2 {
    gap: 30px;
}

.hab-3 {
    gap: 220px;
}

.hab > span {
    font-family: var(--text-2);
    font-size: 45px;
}

.hab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hab-semiCircle1{
    width: 50px;
    height: 50px;
    border: 4px solid transparent;
    border-right: 4px solid #d6b98c;
    border-top: 4px solid #d6b98c;
    border-radius: 50%;
    transform: rotate(45deg);
}

.hab-semiCircle2{
    width: 50px;
    height: 50px;
    border: 4px solid transparent;
    border-left: 4px solid #d6b98c;
    border-top: 4px solid #d6b98c;
    border-radius: 50%;
    transform: rotate(-45deg);
}

.hab-title > h2 {
    font-size: 85px;
    padding: 70px;
}