
* {
    color: var(--color-text-primary);
    text-decoration: none;
    font-family: var(--text-1);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

#root {
    overflow-x: hidden;
}
